<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lobxy.achs">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User.Activities.FeedbackActivity"></activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Register"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".User.Activities.UserMainScreen" />
        <activity
            android:name=".User.Activities.ComplainForm"
            android:label="Complaint Form"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize" />
        <activity
            android:name=".User.Activities.UserComplainActivity"
            android:label="My Complaints" />
        <activity
            android:name=".User.Activities.Profile"
            android:label="Profile" />
        <activity
            android:name=".User.Activities.Complains"
            android:label="Types" />
        <activity android:name=".Admin.AdminMainScreen" />
        <activity
            android:name=".Admin.FragmentsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Admin.AddSupervisorActivity" />
        <activity android:name=".Admin.ListSupervisorActivity" />
        <activity
            android:name=".Supervisor.SupervisorDetail"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Supervisor.SupervisorMain" />
    </application>

</manifest>